---
title: PunchIt
---

.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      .row-fluid
        .span4
          - if false
            .div(style="padding: 10px 15px;")
              .progress
                .bar.bar-success(style="width: 45%;")
                .bar.bar-warning(style="width: 10%;")
        .span4
          - if false
            .div(style="padding: 10px 15px;")
              %span.badge.badge-success 18
              %span.badge.badge-warning 4 
        .span4
          %ul.nav.pull-right
            %li
              %a 
                %span.badge.badge-success 5.25
            %li.app-employee{"data-employee-id" => "31"}
              %a(data-toggle="modal" data-target="#app-employees-modal")
                %i.icon-user
                %span.app-name Dustin Tinney
            %li.dropdown
              %a.dropdown-toggle(data-toggle="dropdown")
                %i.icon-align-justify
              %ul.dropdown-menu
                %li
                  %a All Project
                %li
                  %a Pinned Projects
                %li
                  %a Recent Projects
.container-fluid
  .row-fluid
    .span6
      .app-nav(data-spy="affix")
        #app-date
          %input.input-small.app-punch-date{value: Date.today, type: "hidden"}
          #app-datepicker

        %ul#app-all-projects.nav.nav-list
          %li.nav-header All Projects
          %li
            %input.app-all-projects-typeahead(type="hidden" placeholder="All Projects")
          %li &nbsp;
          %li.app-all-project-stories

        %ul#app-pinned-projects.nav.nav-list
          %li.nav-header Pinned Projects

        %ul#app-pinned-stories.nav.nav-list
          %li.nav-header Pinned Stories
      -# .row-fluid
      -#   .span12
      -#     #app-active-story.alert.alert-info
      -#       %span.app-project Nada
      -#       %span.app-story
      -#       %span.app-start
      -#       %span.app-stop

      -#       %span.pull-right
      -#         .btn.btn-mini.btn-inverse.titled(title="Pin this story" data-placement="bottom")
      -#           %i.icon-star.icon-white

      -#         .btn.btn-mini.btn-inverse.titled(title="Copy the URL for this story" data-placement="bottom")
      -#           %i.icon-globe.icon-white

      -#         .btn.btn-mini.btn-inverse.titled(title="Mark this story 100% done" data-placement="bottom")
      -#           %i.icon-fire.icon-white


    #app-punches.span6
      - if false
        .progress
          .bar.bar-success(style="width: 10%;")
          .bar.bar-warning(style="width: 5%;")
          .bar.bar-danger(style="width: 5%;")
          .bar.bar-success(style="width: 13%;")
          .bar(style="width: 10%;")
          .bar.bar-success(style="width: 57%;")

      #daily-punches.punch-table
        .punches
        %table.table
          - times = []
          - 24.times do |time|
            - if time == 0
              - times << {name: "midnight", hour: time}
            - elsif time == 12 
              - times << {name: "noon", hour: time}
            - elsif time > 12
              - times << {name: "#{time-12}pm", hour: time}
            - else
              - times << {name: "#{time}am", hour: time}

          - times.each do |time| 
            - %w(00 25 5 75).each do |minutes|
              %tr.app-time{"data-time" => "#{time[:hour]}.#{minutes}"}
                %td.span1
                  %small
                    - if minutes == "00"
                      = time[:name]
                    - elsif minutes == "25"
                      %span.muted
                        15
                    - elsif minutes == "5"
                      %span.muted
                        30
                    - elsif minutes == "75"
                      %span.muted
                        45
      
#app-employees-modal.modal.hide.fade
  .modal-header
    %h3 Atom Picker
    %button.close(data-dismiss="modal") x
  .modal-body
    %input.app-all-employees-typeahead(type="hidden" placeholder="AO Employees")
  .modal-footer
    %button.btn(data-dismiss="modal") Close
