---
title: Punch Alpha
---

.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      .row-fluid
        .span4#app-week-summary(style="padding-top: 6px;")
          %span.badge.app-hours-total.pull-right
          %span.badge.badge-success.app-hours-billable.pull-right
          %span.badge.badge-warning.app-hours-non-billable.pull-right
          .week-stats
            .bar.bar-success.app-hours-billable
            .bar.bar-warning.app-hours-non-billable
        .span4
          %ul.nav.pull-right
            %li#app-day-summary
              %a
                %span.badge.badge-success.app-hours-billable
                %span.badge.badge-warning.app-hours-non-billable
                %span.badge.app-hours-total
            %li.app-employee
              %a(data-toggle="modal" data-target="#app-employees-modal")
                %i.icon-user
                %span.app-name 
            %li.dropdown
              %a.dropdown-toggle(data-toggle="dropdown")
                %i.icon-align-justify
              %ul.dropdown-menu
                %li
                  %a(href="http://punchit.atomicobject.com/") Old Punchit
      .row-fluid
        .span4
          .btn-toolbar
            .btn-group
              - %w(M T W T F).each_with_index do |day, i|
                .btn-success.btn-warning.btn-mini.btn= day
              .btn-mini.btn &nbsp;

              - %w(M T W T F).each_with_index do |day, i|
                - if i == 0
                  .btn-mini.btn.text-warning= day
                - elsif i == 1
                  .btn-mini.btn.text-success= day
                - elsif i == 2
                  .btn-info.btn-mini.btn.text-info= day
                - else
                  .btn-mini.btn= day
        .span4
          #app-date
            .btn.btn-mini.app-today
              Today
            %input.input-small.app-punch-date{value: Date.today(), type: "input"}
            #app-datepicker
        .span4
          #app-date-second-column
            .btn.btn-mini.app-today
              Today
            %input.input-small.app-punch-date-second-column{value: Date.today(), type: "input"}
            #app-datepicker
.container-fluid
  .row-fluid 
    .span4
      .navigation.span4(data-spy="affix")
        .alert#app-new-punch
          %p.app-project 
            %strong Pick a punchable to activate punching!
          %p.app-story
            %small Click the day calendar to place your punchable.
        %br
        .tabbable
          %ul.nav.nav-pills
            %li.active
              %a(data-toggle='tab' href='#all-projects')
                All
            %li
              %a(href='#pinned-projects' data-toggle='tab')
                %i.icon-heart
                Pinned
            %li
              %a(href='#recent-projects' data-toggle='tab')
                Recent
          .tab-content
            .tab-pane.active#all-projects
              #app-all-projects
                %ul.nav.nav-list
                  %li.nav-header
                    All Projects List
                  %li 
                    %input.input-punchit.app-all-projects-typeahead(type="hidden" placeholder="All Projects")
                  %li
                    %ul.app-stories-placeholder.nav.nav-list
            .tab-pane#pinned-projects
              #app-pinned
                %ul.app-punchables
                %ul.app-projects.nav.nav-list
            .tab-pane#recent-projects
              %ul.nav.nav-list#app-recent-projects

    .span8
      #app-calendar.punch-table.calendar
        .punches
          .app-non-editable-punches.pull-right
          .app-editable-punches.pull-left
          %table.table
            - times = []
            - 25.times do |time|
              - if time == 0
                - times << {name: "midnight", hour: time}
              - elsif time == 12 
                - times << {name: "noon", hour: time}
              - elsif time > 12
                - times << {name: "#{time-12}pm", hour: time}
              - else
                - times << {name: "#{time}am", hour: time}

            - times.each do |time| 
              - %w(00 25 5 75).each do |minutes|
                %tr.app-time{"data-time" => "#{time[:hour]}.#{minutes}"}
                  %td.span1{class: minutes == "00" ? "hour" : ""}
                    %small
                      - if minutes == "00"
                        = time[:name]
                      - elsif minutes == "25"
                        %span.muted
                          15
                      - elsif minutes == "5"
                        %span.muted
                          30
                      - elsif minutes == "75"
                        %span.muted
                          45
      
#app-alert-modal.modal.hide.fade
  .modal-header
    %h3 ¡Alto!
  .modal-body
    .alert.alert-error
      %strong You have not authenticated with the PunchIt API.
      %br
      Please authenticate first and then refresh.
  .modal-footer
    %a(target="_blank" href="https://punchitapi.atomicobject.com/blank.png") 
      %button.btn.btn-primary Authenticate With PunchIt
    OR
    %a(href="http://www.youtube.com/watch?v=r0E-0ntoNWo")
      %button.btn Forget it, get me something cute.
    %br
    %br
    %small
      After you have authenticated 
      %a(href="/") 
        please reload the page.

#app-create-story-modal.modal.hide.fade
  .modal-header
    %h3.app-project-name
      Project
  .modal-body
    Story Name
  .modal-footer
    %button.btn.btn-primary.app-create Create Story
    %button.btn(data-dismiss="modal") Close



#app-employees-modal.modal.hide.fade
  .modal-header
    %button.close(data-dismiss="modal") x
    %h3 Atom Picker
  .modal-body
    %input.input-large.app-all-employees-typeahead(type="text" placeholder="What's Yer Name?")
  .modal-footer
    %button.btn(data-dismiss="modal") Close
