---
title: Punch Alpha
---

.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      .row-fluid
        .span4
          .row
            .span7.offset1
              .btn-toolbar
                .btn-group
                  - %w(M T W T F).each_with_index do |day, i|
                    - if i == 3
                      .btn-mini.btn.btn-danger= day
                    - else
                      .btn-mini.btn= day
                  .btn-mini.btn.disabled(style="width: 25%")
                    &nbsp;
                    &nbsp;
                    &nbsp;
                  - %w(M T W T F).each_with_index do |day, i|
                    - if i == 0
                      .btn-mini.btn= day
                    - elsif i == 1
                      .btn-mini.btn.active= day
                    - else
                      .btn-mini.btn= day
          .row-fluid
            .span12#app-week-summary
              .week-stats
        .span8
          .row-fluid
            .span4
              %ul.nav
                %li.app-employee
                  %a(data-toggle="modal" data-target="#app-employees-modal")
                    %i.icon-user
                    %span.app-name 
            .span6
              .form-horizontal.pull-right(style="padding: 10px 15px;")
                .control-group#app-date
                  .control-label Active Date
                  .controls
                    %input.input-small.app-punch-date{value: Date.today(), type: "input"}
                    %span#app-datepicker
            .span2#app-day-summary
              %span.badge.badge-success.app-hours-billable
              %span.badge.badge-warning.app-hours-non-billable
              %span.badge.badge-info.app-hours-total
          .row-fluid
            .span12
              .btn-group
                .btn.dropdown-toggle.btn-mini.btn-block#app-new-punch(data-toggle="dropdown" href="#")
                  %span.app-project 
                    %strong Pick a punchable to activate punching!
                    %small Click the day calendar to place your punchable.
                  %span.app-story
                  %span.caret
                %ul.dropdown-menu.pull-right
                  %li
                    %a
                      %i.app-pin.icon-heart
                      Pin Punchable
                  %li
                    %a
                      %i.app-story.icon-plus
                      Add Story
                  %li
                    %a
                      %i.app-url.icon-globe
                      Punchable URL
                  
.container-fluid
  .row-fluid 
    .span4
      .navigation.span4(data-spy="affix")
        .tabbable
          %ul.nav.nav-pills
            %li.active
              %a(data-toggle='tab' href='#all-projects')
                All
            %li
              %a(href='#pinned-projects' data-toggle='tab')
                %i.icon-heart
                Pinned
            %li
              %a(href='#recent-projects' data-toggle='tab')
                Recent
          .tab-content
            .tab-pane.active#all-projects
              #app-all-projects
                %ul.nav.nav-list
                  %li.nav-header
                    All Projects List
                  %li 
                    %input.input-punchit.app-all-projects-typeahead(type="hidden" placeholder="All Projects")
                  %li
                    %ul.app-stories-placeholder.nav.nav-list
            .tab-pane#pinned-projects
              #app-pinned
                %ul.app-punchables
                %ul.app-projects.nav.nav-list
            .tab-pane#recent-projects
              %ul.nav.nav-list#app-recent-projects

    .span8
      #app-calendar.punch-table.calendar
        .punches
          .app-non-editable-punches.pull-right
          .app-editable-punches.pull-left
          %table.table
            - times = []
            - 25.times do |time|
              - if time == 0
                - times << {name: "midnight", hour: time}
              - elsif time == 12 
                - times << {name: "noon", hour: time}
              - elsif time > 12
                - times << {name: "#{time-12}pm", hour: time}
              - else
                - times << {name: "#{time}am", hour: time}

            - times.each do |time| 
              - %w(00 25 5 75).each do |minutes|
                %tr.app-time{"data-time" => "#{time[:hour]}.#{minutes}"}
                  %td.span1{class: minutes == "00" ? "hour" : ""}
                    %small
                      - if minutes == "00"
                        = time[:name]
                      - elsif minutes == "25"
                        %span.muted
                          15
                      - elsif minutes == "5"
                        %span.muted
                          30
                      - elsif minutes == "75"
                        %span.muted
                          45
      
#app-alert-modal.modal.hide.fade
  .modal-header
    %h3 ¡Alto!
  .modal-body
    .alert.alert-error
      %strong You have not authenticated with the PunchIt API.
      %br
      Please authenticate first and then refresh.
  .modal-footer
    %a(target="_blank" href="https://punchitapi.atomicobject.com/blank.png") 
      %button.btn.btn-primary Authenticate With PunchIt
    OR
    %a(href="http://www.youtube.com/watch?v=r0E-0ntoNWo")
      %button.btn Forget it, get me something cute.
    %br
    %br
    %small
      After you have authenticated 
      %a(href="/") 
        please reload the page.

#app-create-story-modal.modal.hide.fade
  .modal-header
    %h3.app-project-name
      Project
  .modal-body
    Story Name
  .modal-footer
    %button.btn.btn-primary.app-create Create Story
    %button.btn(data-dismiss="modal") Close



#app-employees-modal.modal.hide.fade
  .modal-header
    %button.close(data-dismiss="modal") x
    %h3 Atom Picker
  .modal-body
    %input.input-large.app-all-employees-typeahead(type="text" placeholder="What's Yer Name?")
  .modal-footer
    %button.btn(data-dismiss="modal") Close
