---
title: Punch Alpha
---

.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      .row-fluid
        %span.brand Punch Alpha
        .span4#app-week-summary(style="padding-top: 6px;")
          %span.badge.app-hours-total.pull-right
          %span.badge.badge-success.app-hours-billable.pull-right
          %span.badge.badge-warning.app-hours-non-billable.pull-right
          .progress
            .bar.bar-success.app-hours-billable
            .bar.bar-warning.app-hours-non-billable
        .span4
          %ul.nav.pull-right
            %li#app-day-summary
              %a
                %span.badge.badge-success.app-hours-billable
                %span.badge.badge-warning.app-hours-non-billable
                %span.badge.app-hours-total
            %li.app-employee
              %a(data-toggle="modal" data-target="#app-employees-modal")
                %i.icon-user
                %span.app-name 
            %li.dropdown
              %a.dropdown-toggle(data-toggle="dropdown")
                %i.icon-align-justify
              %ul.dropdown-menu
                %li
                  %a(href="http://punchit.atomicobject.com/") Old Punchit
.container-fluid

  .row-fluid 
    .span5
      .navigation.span5(data-spy="affix")
        #app-date
          %input.input-small.visible-phone.app-punch-date{value: Date.today(), type: "input"}
          .hidden-phone
            #app-datepicker
            .btn.btn-mini.app-today
              Today
        %br
        .alert#app-new-punch
          %p.app-project 
            %strong Pick a punchable to activate punching!
          %p.app-story
            %small Click the day calendar to place your punchable.
        %br
        .tabbable
          %ul.nav.nav-pills
            %li.active
              %a(data-toggle='tab' href='#all-projects')
                All
            %li
              %a(href='#pinned-projects' data-toggle='tab')
                %i.icon-heart
                Pinned
            %li
              %a(href='#recent-projects' data-toggle='tab')
                Recent
          .tab-content
            .tab-pane.active#all-projects
              #app-all-projects
                %ul.nav.nav-list
                  %li.nav-header
                    All Projects List
                  %li 
                    %input.input-punchit.app-all-projects-typeahead(type="hidden" placeholder="All Projects")
                  %li
                    %ul.app-stories-placeholder.nav.nav-list
            .tab-pane#pinned-projects
              %ul#app-pinned-projects.nav.nav-list
            .tab-pane#recent-projects
              %ul.nav.nav-list#app-recent-projects

    .span7
      #app-calendar.punch-table.calendar
        .punches.app-punches
          %table.table
            - times = []
            - 25.times do |time|
              - if time == 0
                - times << {name: "midnight", hour: time}
              - elsif time == 12 
                - times << {name: "noon", hour: time}
              - elsif time > 12
                - times << {name: "#{time-12}pm", hour: time}
              - else
                - times << {name: "#{time}am", hour: time}

            - times.each do |time| 
              - %w(00 25 5 75).each do |minutes|
                %tr.app-time{"data-time" => "#{time[:hour]}.#{minutes}"}
                  %td.span1{class: minutes == "00" ? "hour" : ""}
                    %small
                      - if minutes == "00"
                        = time[:name]
                      - elsif minutes == "25"
                        %span.muted
                          15
                      - elsif minutes == "5"
                        %span.muted
                          30
                      - elsif minutes == "75"
                        %span.muted
                          45
      
#app-alert-modal.modal.hide.fade
  .modal-header
    %button.close(data-dismiss="modal") x
    %h3 Not Authorized
  .modal-body
    You have not authenticated with the Punchit API.are not authenticated.  
    Please authenticate first and then refresh.
  .modal-footer
    %a(target="_blank" href="https://punchitapi.atomicobject.com/blank.png") 
      %button.btn.btn-primary Authenticate Here
    or
    %a(href="http://www.youtube.com/watch?v=r0E-0ntoNWo")
      %button.btn Forget it, get me something cute.


#app-employees-modal.modal.hide.fade
  .modal-header
    %button.close(data-dismiss="modal") x
    %h3 Atom Picker
  .modal-body
    %input.input-large.app-all-employees-typeahead(type="text" placeholder="What's Yer Name?")
  .modal-footer
    %button.btn(data-dismiss="modal") Close
