---
title: PunchIt
---

.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      .row-fluid
        .span4#app-week-summary
          -# %span(style="padding: 10px 15px;")
          -#   %span.badge.badge-success.app-hours-billable
          -#   %span.badge.badge-warning.app-hours-non-billable
          .progress
            .bar.bar-success.app-hours-billable
            .bar.bar-warning.app-hours-non-billable
        .span4
          %ul.nav.pull-right
            %li#app-day-summary
              %a
                %span.badge.badge-success.app-hours-billable
                %span.badge.badge-warning.app-hours-non-billable
                %span.badge.app-hours-total
            %li.app-employee
              %a(data-toggle="modal" data-target="#app-employees-modal")
                %i.icon-user
                %span.app-name 
            %li.dropdown
              %a.dropdown-toggle(data-toggle="dropdown")
                %i.icon-align-justify
              %ul.dropdown-menu
                %li
                  %a All Project
                %li
                  %a Pinned Projects
                %li
                  %a Recent Projects
.container-fluid
  .row-fluid 
    .span5
      .navigation(data-spy="affix")
        #app-date(style="width: 100%")
          %input.input-small.visible-phone.app-punch-date{value: Date.today, type: "input"}
          .hidden-phone
            #app-datepicker
        .tabbable
          %ul.nav.nav-tabs
            %li.active
              %a(data-toggle='tab' href='#all-projects')
                All Projects
            %li
              %a(href='#pinned-projects' data-toggle='tab')
                Pinned Projects
            %li
              %a(href='#recent-projects' data-toggle='tab')
                Recent Projects
          .tab-content
            .tab-pane.active#all-projects
              #app-all-projects
                %input.input-punchit.app-all-projects-typeahead(type="hidden" placeholder="All Projects")
                .app-stories-placeholder
            .tab-pane#pinned-projects
              #app-pinned-projects

            .tab-pane#recent-projects
              #app-recent-projects

    #app-punches.span7
      - if false
        .progress
          .bar.bar-success(style="width: 10%;")
          .bar.bar-warning(style="width: 5%;")
          .bar.bar-danger(style="width: 5%;")
          .bar.bar-success(style="width: 13%;")
          .bar(style="width: 10%;")
          .bar.bar-success(style="width: 57%;")

      #daily-punches.punch-table
        .punches
        %table.table
          - times = []
          - 24.times do |time|
            - if time == 0
              - times << {name: "midnight", hour: time}
            - elsif time == 12 
              - times << {name: "noon", hour: time}
            - elsif time > 12
              - times << {name: "#{time-12}pm", hour: time}
            - else
              - times << {name: "#{time}am", hour: time}

          - times.each do |time| 
            - %w(00 25 5 75).each do |minutes|
              %tr.app-time{"data-time" => "#{time[:hour]}.#{minutes}"}
                %td.span1{class: minutes == "00" ? "hour" : ""}
                  %small
                    - if minutes == "00"
                      = time[:name]
                    - elsif minutes == "25"
                      %span.muted
                        15
                    - elsif minutes == "5"
                      %span.muted
                        30
                    - elsif minutes == "75"
                      %span.muted
                        45
      
#app-employees-modal.modal.hide.fade
  .modal-header
    %h3 Atom Picker
    %button.close(data-dismiss="modal") x
  .modal-body
    %input.input-large.app-all-employees-typeahead(type="hidden" placeholder="AO Employees")
  .modal-footer
    %button.btn(data-dismiss="modal") Close
